*
{
    margin: 0;
    padding: 0;
    /* box-sizing:border-box; */
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1200px;
    background: #A2A2A1FF;
}

#flexContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #F1F4FFFF;
    padding: 40px 60px;
}

.game {
    width: 1350px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transform-style: preserve-3d;
    
}

.active {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #A2A2A1FF;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0em;
    background: #A2A2A1FF;
}


.permaActive {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #A2A2A1FF;
}